@tailwind base;

@tailwind components;

@tailwind utilities;

.hero {
  filter: drop-shadow(1px 1px 30px #090f0d);
}

.hidden {
  display: none;
}

@media (min-width: 1060px) {
  .lg\:px-\[144px\] {
    padding-left: 144px;
    padding-right: 144px;
  }

  .lg\:px-\[5em\] {
    padding-left: 5em;
    padding-right: 5em;
  }
}
